.calendar .day-entry {
  text-align: center;
  padding: 10px 0px;
  border: 1px solid #a9a9a9;
}

.calendar .not-in-month {
  opacity: 0.4;
}

.calendar .day-text {
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  width: 2em;
  height: 2em;
}

.calendar .today {
  background-color: hsl(165, 34%, 85%);
  border-radius: 50%;
}