.calendar .month-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.month-header .main {
  display:inline;  
  margin: auto;
  font-size: 1.5em;
  margin: 0 15px;
}

.month-header .secondary {
  display: inline;
  color: #a9a9a9;
}