.login input[type='submit']{
  padding: 15px 30px;
  color: #fefefe;
  background-color: var(--main-dark-color);
  border: none;
  font-weight: bold;
  font-size: 0.9em;
  flex: 1;
  border-radius: 5px;
  font-variant: small-caps;
}

.login input[type='submit']:hover, input[type='submit']:active {
  background-color: #DD9FA7d0;
}
