.login input[type='text'], input[type='password'] {
  display: block;
  width: 100%;
  margin: auto;
  padding: 10px;
  font-size: 0.9em;
}

.login label {
  display: block;
  margin-bottom: 20px;
  font-size: 1.1em;
}