.main-header {
  background-color: var(--main-dark-color);
  color: #fefefe;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 15px;
}

.main-header .container {
  width: 100%;
  max-width: var(--max-content-width);
}

.main-header a {
  text-decoration: none;
  color: inherit;
  font-size: 28px;
}
