.main-header {
  background-color: var(--main-dark-color);
  color: #fefefe;
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
}

.main-header p {
  margin: 0 20px;
  font-size: 28px;
}

