.login {
  margin: auto;
  width: 60%;
  max-width:350px;
  padding: 50px;
  font-size: 1.3em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #a9a9a9;
}

.login h1 {
  text-align: center;
}