.calendar .day-entry {
  padding: 7px 0;
  border: 1px solid #a9a9a9;
  margin-left: -1px;
  margin-top: -1px;
}

.calendar .not-in-month {
  opacity: 0.4;
}

.calendar .day-text {
  text-align: center;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0 auto 5px auto;
}

.calendar .today {
  background-color: hsl(165, 34%, 85%);
  border-radius: 50%;
}

.calendar .entry-markers {
  flex: 1;
  display: flex;
  justify-content: center;
}