.calendar .day-entry {
  display: flex;
  flex-direction: column;
  padding: 7px 0;
  border: 1px solid #a9a9a9;
  margin-left: -1px;
  margin-top: -1px;
}

.calendar .day-entry:first-child {
  border-top-left-radius: var(--calendar-border-radius);
}

.calendar .day-entry:nth-child(7) {
  border-top-right-radius: var(--calendar-border-radius);
}

.calendar .day-entry:nth-last-child(7) {
  border-bottom-left-radius: var(--calendar-border-radius);
}

.calendar .day-entry:last-child {
  border-bottom-right-radius: var(--calendar-border-radius);
}

.calendar .not-in-month {
  opacity: 0.4;
}

.calendar .day-text {
  text-align: center;
  font-size: 1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
}

.calendar .today {
  background-color: hsl(165, 34%, 85%);
  border-radius: 50%;
}

.calendar .entry-markers {
  flex: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}