.calendar .month-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.calendar .year-header {
  margin: auto;
}

.calendar .year-header h3 {
  margin: 0;
  font-size: 1em;
}

.calendar .absolute {
  position: absolute;
  margin-top: -15px;
}

.month-header .main {
  flex: 1;
  display: inline-block;
  font-size: 1.6em;
  margin: 0;
}

.month-header .secondary {
  flex: 1;
  font-size: 0.8em;
  text-decoration: inherit;
  color: #a9a9a9;
}

@media(min-width: 568px) {
.calendar .year-header {
  font-size: 1.2em;
}
.month-header .main {
  font-size: 1.9em;
}
.month-header .secondary {
  font-size: 1em;
}
}