.calendar .month-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.month-header .main {
  flex: 1;
  font-size: 1.3em;
}

.month-header .secondary {
  flex: 1;
  font-size: 0.9em;
}

.month-header .secondary a {
  text-decoration: inherit;
  color: #a9a9a9;
}