header {
  background-color: #DD9FA7;
  color: #fefefe;
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
}

header p {
  margin: 0 20px;
  font-size: 28px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
  padding: 0 10px;
}

main > h2 {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: lighter;
}

main > nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

main > nav h1 {
  margin: 0 20px;
  font-size: 28px;
  font-weight: normal;
  text-transform: capitalize;
}

main > nav a {
  color: inherit;
  text-decoration: none;
  font-weight: bolder;
  padding: 5px;
  font-size: 20px;
}

main > nav a:first-child {
  padding-left: 15px;
}

main > nav a:last-child {
  padding-right: 15px;
}

main > .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

main > .days p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0 5px 0;
}

main > .calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  border: 1px solid #D2D2D2;
  background-color: #d2d2d2;
}

main > .calendar .date {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
}

main > .calendar a {
  color: inherit;
  text-decoration: none;
}

main > .calendar .date p {
  font-size: 24px;
  margin: 0;
}

main > .calendar .date > .entries {
  display: flex;
  width: 100%;
  height: 13px;
  justify-content: space-evenly;
}

main > .calendar .today {
  background-color: #CEEBCC;
}

main > .calendar .not-in-month p,
main > .calendar .not-in-month svg {
  opacity: 0.5;
}
