.calendar .day-entry .entry-marker {
  padding: 5px;
  border-radius: 50%;
}

.calendar .day-entry .entry-marker:nth-child(2) {
  margin-left: 5px;
}

.calendar .day-entry .him {
  background-color: rgb(0, 0, 128);
}
.calendar .day-entry .her {
  background-color: rgb(127, 26, 26);
}