.entry textarea {
  flex: 1;
  font-family: inherit;
  resize: none;
  outline: none;
  overflow: hidden;
  padding: 0;

  background-image: linear-gradient(#fefefe 50%, #e0e0e0 50%);
  background-size: 100% 3rem;
  background-attachment: scroll;
}

@media(min-width: 850px) {
  .entry textarea {
    background-size: 100% 3.5rem;
  }
}